@using ProniaAgain.Areas.Admin.ViewModels

@{
    ViewData["Title"] = "Create Slider";
}
@model SliderCreateViewModel

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description">
                        Basic form layout
                    </p>
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="Title">Title</label>
                            <input class="form-control" id="title" placeholder="Title" asp-for="Title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input class="form-control" id="Description" placeholder="Description" asp-for="Description">
                        </div>
                        <div class="form-group">
                            <label for="Offer">Offer</label>
                            <input class="form-control" id="Offer" placeholder="Offer" asp-for="Offer">
                        </div>
                        <div class="form-group">
                            <label for="Image">Image</label>
                            <input class="form-control" id="Image" placeholder="Image" asp-for="Image" accept="image/*">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>